backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.9.26
click==6.6
Flask==0.11.1
gunicorn==19.6.0
http-parser==0.8.3
iron-core==1.2.0
iron-mq==0.9
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
oauthlib==2.0.0
pymongo==3.3.0
python-dateutil==2.5.3
PyYAML==3.12
requests==2.11.1
requests-oauthlib==0.7.0
singledispatch==3.4.0.3
six==1.10.0
socketpool==0.5.3
textblob==0.11.1
twython==3.4.0
Werkzeug==0.11.11
